{% load static %}

<footer class="footer">
    <div class="content-area-5">
        <div class="container">
            <div class="row">
                
                <div class="col-xl-7 col-lg-6 align-self-center">
                    <div class="main-title">
                        <h5 style="color: #ffe600;">СТОЙ-ДК АСТАНА</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolor impedit minus, esse aliquid voluptas praesentium ad rerum consectetur earum estadipisci? Ex, in. DoloT
                            enetur dolor impedit minus, esse aliquid voluptas praesentium.
                        </p>
                        <h6>Офис</h6>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-solid fa-location-dot"></i>г.Нур-Султан, ул.</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone"></i>+7(702)-683-46-16</a>
                        </li>
                    </ul>
                    </div>
                </div>


                <div class="col-xl-5 col-lg-6">
                    <div class="main-title">
                            <h6>Разделы сайта</h6>
                            <ul class="c">
                                <li><a>О компании</a></li>
                                <li><a>Доставка и Оплата</a></li>
                                <li><a>Каталог</a></li>
                                <li><a>Производители товаров</a></li>
                            </ul>
                            <div style="margin-top: 50px;">
                                <div class="socialmedia">
                                    <a href="#"><i class="fa fa-telegram"></i></a>
                                    <a href="#"><i class="fa fa-whatsapp"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a> <!--нужно найти иконку -->
                                </div>
                            </div>
                    </div>        
                </div>
            </div>
        </div>
    </div>
</footer>
